html {
    box-sizing: border-box;
    max-width: 1000px;
    margin: auto;
    font-family: 'Inconsolata', monospace;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    max-width: 1000px;
    padding: 20px;
}

.footer {
    text-align: center;
    line-height: 1.5;
    color: rgb(14, 12, 11);
}